<%= render "applications/application_header" %>

<div class="container page-container">

  <h1>Editing Application</h1>

  <%= render 'form', application: @application %>

  <%= button_to "Add Open Home Time", new_property_application_open_home_time_path( @application.property, @application ),
        :class => "waves-effect waves-light btn", :method => :get %>

  <%= link_to 'Show', property_application_path %> |
  <%= link_to 'Back', property_applications_path %>

</div>
