<%= render "applications/application_header" %>

<div class="container page-container">

  <p id="notice"><%= notice %></p>

  <table>
     <thead>
       <tr>
           <th>Title</th>
           <th>Name</th>
           <th>Open home time</th>
       </tr>
     </thead>

     <tbody>
       <tr>
         <td><%= @application.title %></td>
         <td><%= @application.first_name %> <%= @application.last_name %></td>
         <td>

           <% if @application.user.open_home_times.count == 0 %>
             <%= link_to('Add open home time', new_property_application_open_home_time_path( @application.property, @application )) %>
          <% else %>
             <% @application.user.open_home_times.each do |open_home_time| %>
               <% if @application.id.to_s == params[:id] %>
                  <%= link_to(open_home_time.time, edit_property_application_open_home_time_path( @application.property, @application, open_home_time.id )) %>
              <% end %>
             <% end %>
           <% end %>

         </td>
       </tr>
     </tbody>
   </table>

  <%= link_to 'Edit', edit_property_application_path(@application) %> |
  <%= link_to 'Back', property_applications_path %>

</div>
