<%= form_for(property, html: { multipart: true }) do |f| %>
  <% if property.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="locationField">
      <input id="autocomplete" placeholder="Enter your address"
             onFocus="geolocate()" type="text" autocomplete="off"></input>
    </div>

    <table id="address" style="display: none;">
      <tr>
        <td class="label">Street address</td>
        <td class="slimField"><input class="field" id="street_number" name="property[street_number]"
              disabled="true"></input></td>
        <td class="wideField" colspan="2"><input class="field" id="route"
              disabled="true" name="property[street_name]"></input></td>
      </tr>
      <tr>
        <td class="label">City</td>
        <td class="slimField"><input class="field"
              id="sublocality_level_1" disabled="true" name="property[suburb]"></input></td>
        <td class="wideField" colspan="3"><input class="field" id="locality"
              disabled="true" name="property[city]"></input></td>
      </tr>
      <tr>
        <td class="label">State</td>
        <td class="slimField"><input class="field"
              id="administrative_area_level_1" disabled="true"></input></td>
        <td class="label">Zip code</td>
        <td class="wideField"><input class="field" id="postal_code"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">Country</td>
        <td class="wideField" colspan="3"><input class="field"
              id="country" name="property[country]" disabled="true"></input></td>
      </tr>
    </table>

  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>

  <div class="field">
    <%= f.label :rent %>
    <%= f.number_field :rent %>
  </div>

  <div class="field">
    <%= f.label :bedrooms %>
    <%= f.number_field :bedrooms %>
  </div>

  <div class="field">
    <%= f.label :bathrooms %>
    <%= f.number_field :bathrooms %>
  </div>

  <div class="field">
    <%= f.label :list_type %>
    <%= f.select :list_type, Property::LIST_TYPES, { include_blank: 'Please select the list category' }-%>
  </div>

  <div class="field">
    <%= f.label :house_type %>
    <%= f.select :house_type, Property::HOUSE_TYPES, { include_blank: 'Please select the house type' }-%>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :publish %>
    <%= f.text_field :publish %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
