<div class="header-image list-header">

 <!-- <div class="header-text">
   <div class="text-content">

     <%= @property.bedrooms %> Bedrooms on<br/><br/>

     <%= @property.street_name %>, <%= @property.suburb %>, <%= @property.city %>
   </div>

   <div class="row">
      <div class="col s6">
        <%= button_to "Apply", new_property_application_path(@property, @application),
           :class => "waves-effect waves-light btn", :method => :get %>
      </div>

      <div class="col s6">
        <%= button_to "Add to watchlist", new_property_application_path(@property, @application),
                 :class => "waves-effect waves-light btn", :method => :get %>
      </div>

    </div>

 </div> -->
</div>
