<h5>Owner: <%= @property.user.first_name %> <%= @property.user.last_name %></h5>

<table class="striped" >
  <thead>
    <tr>
        <th data-field="id">Available open home time</th>
    </tr>
  </thead>

  <tbody>
    <% @property.open_home_times.each do |open_home_time| %>
      <% if open_home_time.user_id == @property.user_id %>
        <tr>
          <td><%= open_home_time.time %></td>
          <td>Published by owner</td>
</td>        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br/>

<%= button_to "Apply", new_property_application_path(params[:id], @application),
   :class => "waves-effect waves-light btn", :method => :get %>

<br/><br/>

<h5>My Applications</h5>
<table>
  <thead>
    <tr>
        <th>Title</th>
        <th>Open Home Time</th>
        <th>Status</th>
    </tr>
  </thead>

  <tbody>

    <% current_user.applications.each do |application| %>
      <% if application.property_id == @property.id %>
      <tr>
        <td><%= link_to('Application', edit_property_application_path(@property, application.id)) %></td>

      <% end %>

    <% end %>
    <% current_user.open_home_times.each do |open_home_time| %>
      <% if open_home_time.property_id == @property.id %>
        <td><%= link_to open_home_time.time, edit_property_open_home_time_path(@property, open_home_time) %></td>
        <td>Approved</td>
      </tr>
      <% end %>

    <% end %>


  </tbody>

  <!-- <tbody>
    <% Application.all.my_application.each do |application| %>
      <tr>
        <td><%= application.title %></td>
          <% @property.open_home_times.each do |open_home_time| %>
            <% if open_home_time.user_id == current_user.id %>
                <td><%= open_home_time.time %></td>
                <td><%= link_to(open_home_time.user.first_name, edit_property_application_path(@property, application.id)) %>
</td>
            <% end %>
          <% end %>
        <td><%= link_to 'Edit', edit_property_application_path(application.property_id, application) %></td>
      </tr>
    <% end %>
  </tbody> -->
</table>
