<%= render "property_header" %>

<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col s6">
      <p>
        <strong>Title:</strong>
        <%= @property.title %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @property.address %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @property.rent %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @property.description %>
      </p>

      <p>
        <strong>Publish:</strong>
        <%= @property.publish %>
      </p>

      <%= link_to('Add open home time', new_property_open_home_time_path(@property.id)) %>

      <br/>
      <%= link_to 'Edit', edit_property_path(@property) %> |
      <%= link_to 'Back', properties_path %>
    </div>
    <div class="col s6">
      <% if @property.user_id == current_user.id %>
        <%= render "landlord_show" %>
      <% else @property.user_id != current_user.id %>
        <%= render "tenant_show" %>
      <% end %>

    </div>
  </div>
</div>
