<!DOCTYPE html>
<html>
<head>
  <title>OpenHome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,700,700i" rel="stylesheet">
</head>
<body>

<%= render "shared/navigation" %>

  <%= yield %>
  
<div class="page">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


</div>

<%= render "shared/footer" %>

</body>
</html>
